<div class="content-section implementation">
  <p-dataTable [value]="fixtures">
      <p-headerColumnGroup>
          <p-row>
              <p-column header="id"></p-column>
              <p-column header="away_team"></p-column>
              <p-column header="away_team_name"></p-column>
              <p-column header="collection_detail_id"></p-column>
              <p-column header="comp_id"></p-column>
              <p-column header="comp_name"></p-column>
              <p-column header="description"></p-column>
              <p-column header="game_date"></p-column>
              <p-column header="game_date_string"></p-column>
              <p-column header="game_date_time"></p-column>
              <p-column header="game_type_id"></p-column>
              <p-column header="gmt_offset"></p-column>
              <p-column header="group_name"></p-column>
              <p-column header="home_team"></p-column>
              <p-column header="home_team_name"></p-column>
              <p-column header="live_game"></p-column>
              <p-column header="order"></p-column>
              <p-column header="time"></p-column>
              <p-column header="tour_id"></p-column>
              <p-column header="tour_name"></p-column>
              <p-column header="venue"></p-column>
              <p-column header="venue_city"></p-column>
              <p-column header="venue_country"></p-column>
              <p-column header="venue_id"></p-column>



          </p-row>
      </p-headerColumnGroup>
      
      <p-column field="id"></p-column>
      <p-column field="away_team"></p-column>
      <p-column field="away_team_name"></p-column>
      <p-column field="collection_detail_id"></p-column>
      <p-column field="comp_id"></p-column>
      <p-column field="comp_name"></p-column>
      <p-column field="description"></p-column>
      <p-column field="game_date"></p-column>
      <p-column field="game_date_string"></p-column>
      <p-column field="game_date_time"></p-column>
      <p-column field="game_type_id"></p-column>
      <p-column field="gmt_offset"></p-column>
      <p-column field="group_name"></p-column>
      <p-column field="home_team"></p-column>
      <p-column field="home_team_name"></p-column>
      <p-column field="live_game"></p-column>
      <p-column field="order"></p-column>
      <p-column field="time"></p-column>
      <p-column field="tour_id"></p-column>
      <p-column field="tour_name"></p-column>
      <p-column field="venue"></p-column>
      <p-column field="venue_city"></p-column>
      <p-column field="venue_country"></p-column>
      <p-column field="venue_id"></p-column>
      
  </p-dataTable>
</div>

