<div class="continer" >

 <p-dataTable [value]="fixtures">
              <p-column header="id" field="id"></p-column>
              <p-column header="away_team"field="away_team"></p-column>
              <p-column header="away_team_name" field="away_team_name"></p-column>
              <p-column header="collection_detail_id"  field="collection_detail_id"></p-column>
              <p-column header="comp_id" field="comp_id"></p-column>
              <p-column header="comp_name" field="comp_name"></p-column>
              <p-column header="description"  field="description"></p-column>
              <p-column header="game_date" field="game_date"></p-column>
              <p-column header="game_date_string" field="game_date_string"></p-column>
              <p-column header="game_date_time" field="game_date_time"></p-column>
              <p-column header="game_type_id" field="game_type_id"></p-column>
              <p-column header="gmt_offset" field="gmt_offset"></p-column>
              <p-column header="group_name" field="group_name"></p-column>
              <p-column header="home_team" field="home_team"></p-column>
              <p-column header="home_team_name"field="home_team_name"></p-column>
              <p-column header="live_game" field="live_game"></p-column>
              <p-column header="order" field="order"></p-column>
              <p-column header="time" field="time"></p-column>
              <p-column header="tour_id"  field="tour_id"></p-column>
              <p-column header="tour_name" field="tour_name"></p-column>
              <p-column header="venue" field="venue"></p-column>
              <p-column header="venue_city" field="venue_city"></p-column>
              <p-column header="venue_country" field="venue_country"></p-column>
              <p-column header="venue_id" field="venue_id"></p-column>
              
    </p-dataTable>
